<html ng-app="Edyza">
    <head>
        <title><%= title %></title>
        <meta content="<%= title %>" name="<%= title %>">

        <%- include templates/common/header.ejs %>
    </head>
    <body ng-controller="SimpleEditorController as ctrlEditor" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu" ng-hide="ctrlEditor.lockSideNav()" ng-click="ctrlEditor.toggleNavDrawer()">
                    <md-tooltip>Menu</md-tooltip>
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>
                <h2>
                    <span><%= title %></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="share-variant"></md-icon>
                </md-button>

                <md-menu md-position-mode="target-right target" >
                    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="More">
                        <md-icon md-svg-icon="dots-vertical" md-menu-origin></md-icon>
                    </md-button>
                    <md-menu-content width="4" >
                        <md-menu-item ng-repeat="item in [1, 2, 3]">
                            <md-button ng-click="ctrl.announceClick($index)">
                                <div layout="row">
                                    <p flex>Option {{item}}</p>
                                    <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <section layout="row" flex="">
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="ctrlEditor.lockSideNav()">
                <md-list ng-cloak>
                    <md-subheader class="md-no-sticky">Workflows</md-subheader>
                    <md-list-item ng-repeat="item in ctrlEditor.workflows.built | orderBy: ['-enabled', 'name']" ng-if="item.type === 'workflow'" ng-click="ctrlEditor.workflows.editing = $index" ng-selected="$index === ctrlEditor.workflows.editing">
                        <md-icon><workflow-icon rep="item.icon"></workflow-icon></md-icon>
                        <p>{{item.name}}</p>
                        <%# <md-switch ng-model="item.enabled" aria-label="Enable Workflow" class="md-secondary"></md-switch>%>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Credentials</md-subheader>
                    <md-list-item ng-repeat="item in ctrlEditor.workflows.built" ng-if="item.type === 'credentials'" class="secondary-button-padding" style="padding: 0 6px; margin: 6px 8px; font-weight: 500;     letter-spacing: .01em;">
                        <md-icon><workflow-icon rep="item.icon"></workflow-icon></md-icon>
                        <p>{{item.name}}</p>
                        <md-button ng-click="ctrlEditor.workflows.saveCredentials($event, item)" class="md-icon-button" aria-label="Settings" class="md-secondary">
                            <md-icon md-svg-icon="settings"></md-icon>
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="alert('settings')">
                        <md-icon md-svg-icon="settings"></md-icon>
                        <p>Devices</p>
                    </md-list-item>
                    <md-list-item ng-click="alert('settings')">
                        <md-icon md-svg-icon="settings"></md-icon>
                        <p>Settings</p>
                    </md-list-item>
                </md-list>
            </md-sidenav>
            <md-content flex layout-padding>
                <div ng-if="ctrlEditor.workflows.editing === undefined">
                    Select or create a workflow.
                </div>
                <div ng-if="ctrlEditor.workflows.editing !== undefined">
                    <md-content layout="row" layout-padding>
                        <md-input-container>
                            <label>Name</label>
                            <input ng-model="ctrlEditor.workflows.built[ctrlEditor.workflows.editing].name" type="text">
                        </md-input-container>
                        <icon-selector icon="ctrlEditor.workflows.built[ctrlEditor.workflows.editing].icon" style="margin-left: 10px;"></icon-selector>
                    </md-content>
                    <div layout="row">
                        <div ng-repeat="type in ['source', 'logic', 'endpoint']" layout="row">
                            <div layout="row">
                                <div ng-if="type === 'source'" style="margin: auto;">When</div>
                                <div ng-if="type === 'logic'" style="margin: auto;">do</div>
                                <div ng-if="type === 'endpoint'" style="margin: auto;">to</div>
                                <md-icon md-svg-src="arrow-right" style="height: 18px;"></md-icon>
                            </div>
                            <div layout="column">
                                <%# <md-list-item style="height: 20px; flex: 0">
                                    <md-icon md-svg-icon="magnify"></md-icon>
                                    <p>
                                        <md-input-container>
                                            <label>Search</label>
                                            <input ng-model="search[type]" type="text">
                                        </md-input-container>
                                    </p>
                                </md-list-item>%>
                                <form name="userForm">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>{{type | capitalize}}</label>
                                        <md-select ng-model="options[type].value">
                                            <md-option ng-repeat="node in ctrlEditor.workflows.parts[type + 's'] | orderBy: 'name'" value="{{node.id}}">
                                                <md-icon><workflow-icon rep="node.icon"></workflow-icon></md-icon>
                                                {{node.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </form>
                                <%# <md-list ng-cloak>
                                    <md-subheader class="md-no-sticky">{{type | capitalize}}</md-subheader>
                                    <md-list-item ng-repeat="node in ctrlEditor.workflows.parts[type + 's'] | orderBy: 'name'" ng-hide="search[type] && node.name.toLowerCase().indexOf(search[type].toLowerCase()) < 0" ng-click="assign(type, node.id)" ng-selected="node.id === ctrlEditor.workflows.built[ctrlEditor.workflows.editing][type]">
                                        <md-icon><workflow-icon rep="node.icon"></workflow-icon></md-icon>
                                        <p>{{node.name}}</p>
                                        <simple-node-editor node="node"></simple-node-editor>
                                    </md-list-item>
                                </md-list>%>
                            </div>
                        </div>
                    </div>
                </div>

                <md-fab-speed-dial md-open="fabSpeedDial.open" md-direction="up" ng-class="'md-scale'" ng-mouseenter="fabSpeedDial.open = true" ng-mouseleave="fabSpeedDial.open = false">
                    <md-fab-trigger>
                        <md-button ng-click="ctrlEditor.workflows.add($event);" aria-label="Create Workflow" class="md-fab">
                            <md-tooltip md-direction="left">Create Workflow</md-tooltip>
                            <md-icon md-svg-src="plus"></md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button ng-click="ctrlEditor.workflows.saveCredentials($event);" aria-label="Credentials" class="md-fab md-raised md-mini">
                            <md-tooltip md-direction="left">Add Credentials</md-tooltip>
                            <md-icon md-svg-src="key" aria-label="Credentials" style="color: gray;"></md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </md-content>
        </section>
    </body>
</html>
